body {
  text-align: center;
}

.first-part {
  background-color: black;
  padding: 2%;
  padding-bottom: 50px;
}

.navbar-brand-1 {
  font-size: 33px;
  font-weight: 800;
  font-family: 'Zen Dots', cursive;
}

.navbar-1 {
  padding: 0.6% 10% 2.3% 10%;
}

.nav-item-1 {
  padding: 12px;
}

.nav-link-1 {
  font-weight: 500;
}


/* SECOND NAVBAR */
.navbar-brand-2 {
  font-size: 33px;
  font-weight: 800;
  font-family: 'Zen Dots', cursive;
}

.navbar-2 {
  padding: 0.3% 6%;
  background-color: lightgrey;
  margin-bottom: 25px;
}

.nav-item-2 {
  padding: 8px;
}

.nav-link-2 {
  font-weight: 500;
}



.carousel-item img {
  height: 430px !important;
  width: 800px !important;
}

@media screen and (max-width:768px){
  .carousel-item img {
    height: 230px !important;
    width: 300px !important;
  }
  .navbar-1 {
    padding: 0.3% 3%;
    margin-bottom: 25px;
  }

  .nav-item-1 {
    padding: 8px;
  }
}

 @media screen and  (min-width:769px)  and (max-width:900px){
  .carousel-item img {
    height: 330px !important;
    width: 400px !important;
  }
}

@media screen and  (min-width:901px)  and (max-width:1024px){
 .carousel-item img {
   height: 330px !important;
   width: 400px !important;
 }
}




/* .carousel-inner > .item {
   height: 400px;
} */
/*
img {
  height: 100vh;
}  */
.img-fluid {
  text-align: center;
}

.carousel-inner {
  padding-bottom: 20px;
}

/* #carouselExampleIndicators{
  padding-bottom: 50px;
} */
/* SECOND PART  */
.second-part {
  padding: 10.5% 9%;
  color: red;
}

.features_para:hover {
  color: black;
}

.features_icons {
  padding-bottom: 10px;
}

.footer {
  background-color: black;
  padding: 1%;
  color: white;
}

.footer-2 {
  background-color: black;
  padding: 1%;
  color: white;
  margin-top: 200px;
}

.footer_icons {
  margin-top: 2%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding-bottom: 15px;
}

.sneaker-product-img-1 {
  border-radius: 100%;
  width: 240px;
  height: 220px;
  float: left;
  margin-left: 100px;
  margin-right: 30px;
}

.sneaker-product-img-2 {
  border-radius: 100%;
  width: 240px;
  height: 220px;
  float: right;
  margin-right: 100px;
  margin-left: 30px;
}

.pt2 {
  background-color: black;
  color: white;
  padding-bottom: 100px;
}

.pt1 {
  background-color: white;
  padding-bottom: 100px;
}

.products-part {
  /* width: 70%;
  margin: 65px auto 65px auto; */
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.product-page-heading, .sign_in-page-heading {
  padding-top: 50px;
  padding-bottom: 25px;
}

.prod-heading {
  font-size: 4.5rem;
  font-family: 'Rajdhani';
  color: red;
}

.prod-button {
  text-align: center;
}

.prod-row-1 {
  /* margin-right: 10px; */
  padding-top: 60px;
  padding-left: 300px;
  /* padding-right: 200px; */
  text-align: center;
}

.prod-row-2 {
  margin-left: 290px;
  padding-top: 60px;
}

.sneaker-heading {
  padding-top: 50px;
  font-family: 'Zen Dots', cursive;
}

.sneaker-para-1 {
  padding-left: 10px;
  padding-right: 30px;
  font-family: 'Montserrat';
  line-height: 2;
}

.sneaker-para-2 {
  /* padding-bottom: 100px; */
  padding-left: 30px;
  padding-right: 10px;
  font-family: 'Montserrat';
  line-height: 2;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
  font-family: 'Montserrat';
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  font-family: 'Montserrat';
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign-in-para {
  font-family: 'Montserrat';
  color: white;
}

.sign_in-heading {
  font-family: 'Rajdhani';
  font-size: 3.7rem;
}

.checkout-body {
  text-align: left;
}

.center {
  margin: auto;
  font-family: 'Montserrat';
}

.checkout-heading {
  font-family: 'Rajdhani';
}
